body{
    font-family:Tahoma, Geneva, sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

#donate h2 {text-shadow: 2px 2px #FFFFFF;}

#eagles h2 {text-shadow: 2px 2px #ff0000;}
p {
    font-size: 20px;
}
    
#header, #donate, #eagles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px ;
}

#header {
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhRCJvc9hBNMODKujcENr1HQOvN4icmE6Qdvc7cubKe7Q9ibCX&s");
}

#donate {
    background: yellow;
}
#eagles {
    background: yellow;
    color:black;
}

#pics img{
    width: 20%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
#pics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

#pics img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#donate button {
    width: 600px;   
    height: 50px;
    font-size: 20px;
    background: white;
    color: black;
    border-radius: 5px;
    border: solid white 3px;
}

#donate button:hover {
    background:black;
    color: yellow;
}